{% extends 'base.html.twig' %}
{% block body %}
    {% for row in ofertas|batch(100) %}
        <div class = "row">
            {% for oferta in row %}
            {% set loopIndex = loop.index %}
                <div class="card" style="width: 18rem; margin: 25px 25px 75px;">
                    <img class="card-img-top" src="{{ oferta.juego.getUrlPortada }}">   
                    <div class="card-body">
                        <h3 class="card-title">{{ oferta.juego.titulo }}</h3>
                        <h5>
                            {% if oferta.getSleeveStatus == 1 %}
                                    <span class="badge badge-success">enfundado</span> 
                                {% elseif oferta.getSleeveStatus == 2 %}
                                    <span class="badge badge-primary">parcialmente enfundado</span> 
                                {% else %}
                                    <span class="badge badge-info">sin enfundar</span> 
                            {% endif %}
                            {% if oferta.getGameStatus == 0 %}
                                    <span class="badge badge-success">precintado</span> 
                                {% elseif oferta.getGameStatus == 1 %}
                                    <span class="badge badge-primary">nuevo</span> 
                                {% elseif oferta.getGameStatus == 2 %}
                                    <span class="badge badge-secondary">usado</span> 
                                {% else %}
                                    <span class="badge badge-warning">deteriorado</span> 
                            {% endif %}
                        </h5> 
                        <p class="card-text">{{ oferta.getComentario[:50] ~ '...' }}</p>
                        
                        <h3>
                            <span class="badge badge-success">{{ oferta.precio }} €</span>
                            <a href="/user/{{ oferta.usuario.usuario }}" class="btn btn-primary">Contactar con {{ oferta.usuario.usuario }}</a>
                        </h3>
                        <p class="card-text small">Publicado el {{ oferta.getFechaCreacion|date('d-m-Y')}} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}