{% extends 'base.html.twig' %}
{% block body %}
    {% for row in ofertas|batch(6) %}
        <div class = "row">
            {% for oferta in row %}
                <div class="card" style="width: 18rem; margin: 25px 25px 75px;">
                    <img class="card-img-top" src="{{ oferta.juego.getUrlPortada }}">   
                    <div class="card-body">
                        <h3 class="card-title">{{ oferta.juego.titulo }} <span class="badge badge-success">{{ oferta.precio }} €</span> </h3> 
                        <p class="card-text">{{ oferta.getComentario[:50] ~ '...' }}</p>
                        <a href="#" class="btn btn-primary">Contactar con {{ oferta.usuario.usuario }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}