{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Perfil de {{ usuario.username }}</h1>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <!-- foto --> 
                <img src="{{ asset('img/blank-profile.png') }}" class="img-thumbnail"></img>
            </div>
            <div class="col col-md-9">
                <!-- info --> 
                <p>email: <a href="mailto:{{ usuario.email }}" target="_blank">{{ usuario.email }}</a>
                <p>Usuario desde: {{ usuario.getFechaCreacion|date('d-m-Y') }}
                <p>Ubicación: <span id="profile-address-location"> {{ usuario.dir }} </span> 
                {% if app.user.username == usuario.usuario %}
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">editar</button>
                    <p><button onclick="window.location.href='/'" type="button" class="btn btn-warning">Cambiar contraseña</button>
                {% endif %}
                
            </div>
        </div>
        <div class="row" style="margin-top:15px">
        {% if usuario.getOfertas is empty and app.user.username == usuario.usuario%}
            <div class="row">
                <div class="col col-12">
                    <h2>Aún no tienes ningún juego en venta, <a href="/juego/nuevo">publica una oferta ahora</a> </h2>
                </div>
            </div>
        {% elseif  usuario.getOfertas is not empty %}
            <div class="row">
                <div class="col col-12">
                    <h2>Juegos en venta de {{ usuario.usuario }}: </h2>
                </div>
            </div>
            
            
            {% for ofertas in usuario.getOfertas|batch(3, null) %}
                <div class="card-deck" style="margin-bottom:15px">
                    {% for oferta in ofertas %}
                            {% include 'user/selling.html.twig' %}
                    {% endfor %}
                    
                </div>    
            {% endfor %}

        {% else %}    
            <div class="row">
                <div class="col col-12">
                    <h2>{{ usuario.usuario }} no tiene ningún juego a la venta en este momento </h2>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    {% include 'location/modal.html.twig' with {'lat': usuario.lat|default(0), 'lon': usuario.lon|default(0) } %}

{% endblock %}


