{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Perfil de {{ usuario.username }}</h1>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <!-- foto --> 
                <img src="{{ asset('img/blank-profile.png') }}" class="img-thumbnail"></img>
            </div>
            <div class="col col-md-9">
                <!-- info --> 
                <p>email: <a href="{{ usuario.email }}">{{ usuario.email }}</a>
                <p>Usuario desde: {{ usuario.getFechaCreacion|date('d-m-Y') }}
                <p>Ubicación: [[NO IMPLEMENTADO AUN]] <button onclick="window.location.href='/'" type="button" class="btn btn-secondary btn-sm">editar</button>
                <p><button onclick="window.location.href='/'" type="button" class="btn btn-warning">Cambiar contraseña</button>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
        {% if usuario.getOfertas is empty %}
            <div class="row">
                <div class="col col-12">
                    <h2>Aún no tienes ningún juego en venta, <a href="/juego/nuevo">publica una oferta ahora</a> </h2>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col col-12">
                    <h2>Juegos en venta de {{ usuario.usuario }}: </h2>
                </div>
            </div>
            
            
            {% for ofertas in usuario.getOfertas|batch(3) %}
                <div class="card-deck" style="margin-bottom:15px">
                    {% for oferta in ofertas %}
                        {% include 'user/selling.html.twig' %}
                        <!--{{ oferta.getComentario }}-->
                    {% endfor %}
                    
                </div>
                
            {% endfor %}
            
        {% endif %}
        </div>
    </div>

{% endblock %}


